@import '../../sass/variables';

.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.tabs {
  margin-top: 2rem;
  display: flex;
  color: #595954;
  justify-content: center;
  height: 2.5rem;
  li {
    cursor: pointer;
    margin: 0 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.info {
  display: flex;
}

.infoRight {
  color: #fff;
  line-height: 1.3;
  width: 100%;
  > p {
    margin-bottom: 3rem;
    max-width: 100ch;
  }

  ul li {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    a {
      color: #fff;
    }
  }
}

.infoLeft {
  padding-right: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.titleDetails {
  max-width: 100px;
  width: 100%;
  margin-right: 10px;
}

.tabsContent {
  li:last-child {
    margin-top: 2rem;
    a {
      margin-right: 1rem;

      &:hover {
        filter: invert(50%) sepia(88%) saturate(1151%) hue-rotate(184deg) brightness(90%) contrast(88%);
      }
    }
  }
}

.sliders {
  margin-left: 5rem;
}

.videoGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 5rem;
  color: #fff;

  .thumbnail {
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;

  @media (min-width: 640px) {
    width: 50%;
  }
  @media (min-width: 1024px) {
    width: 33%;
  }
  @media (min-width: 1450px) {
    width: 25%;
  }
  @media (min-width: 2000px) {
    width: 20%;
  }
  p {
    margin-top: 1rem;
  }
  a {
    display: block;
    img {
      width: 100%;
    }
  }
  .img {
    position: relative;
  }
  span {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
  }

  svg {
    position: absolute;
    width: 30px;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.gridPhoto {
  display: flex;
  flex-wrap: wrap;
}

.distance {
  margin-top: 5rem;
}
