.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.tabs {
  margin-top: 2rem;
  display: flex;
  color: #595954;
  justify-content: center;
  height: 2.5rem;
  li {
    cursor: pointer;
    margin: 0 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.info {
  display: flex;
}

.infoRight {
  color: #fff;
  max-width: 1000px;
  line-height: 1.3;
  > p {
    margin-bottom: 3rem;
  }

  ul li {
    display: flex;
  }
}

.infoLeft {
  padding-right: 3rem;
  img {
    width: 100%;
    height: 100%;
  }
}
