@import "../../sass/variables";

.nav {
  height: 100%;
  background-color: #000;
  position: fixed;
  color: #fff;
  width: 100px;
  border-right: 1px solid #202124;
}

.childnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 2rem;

  img {
    filter: brightness(0) invert(1);
  }

  li {
    margin-bottom: 5rem;

    a {
      padding: 2rem;
    }
  }

  :last-child {
    margin-top: auto;
  }
}

body {
  background-color: #141414;
}

h1 {
  color: #fff;
}

.hero {
  display: flex;
  align-items: stretch;

  .image {
    position: relative;
    width: 100%;
    &::after {
      content: "";
      background: linear-gradient(90deg, #000 0, transparent 50%, transparent);
      position: absolute;
      inset: 0;
      position: absolute;
    }
  }
  .poster {
    width: 100%;
    object-fit: cover;
  }
}

.panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  width: 43%;
  padding: 5rem 4rem;

  h2 {
    font-size: 2.4vw;
    margin-bottom: 1.8rem;
  }
  p {
    font-size: 0.9vw;
  }
}

.details {
  display: flex;
  color: #999;
  margin-bottom: 1.8rem;
  span {
    margin-right: 1rem;
    font-size: 0.9vw;
  }
}

.star {
  img {
    margin-right: 0.3rem;
  }
}

.article {
  margin: 3rem 0 5rem 50px;
  h3 {
    font-size: 1.7rem;
    color: #fff;
  }
}

.trend {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;

  a {
    text-decoration: none;
    margin-left: 1rem;
    color: #2196f3;
    &:hover {
      opacity: 0.8;
    }
  }
}

.placeholder {
  background-color: #202124;
}
