@import "sass/global";

div.swiper-button-disabled {
  display: none;
}

div.swiper-button-prev,
div.swiper-button-next {
  color: #fff;
}

main {
  margin-left: 100px;
}
article img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 100%;
  &:hover {
    transform: scale(1.02);
  }
}

.hero {
  margin-left: 100px;
}

.active {
  filter: invert(50%) sepia(88%) saturate(1151%) hue-rotate(184deg) brightness(90%) contrast(88%);
}

.spacing {
  margin: 5rem;
}
